<html>
	<head>
		<title>
			Course registration system
		</title>
	</head>
	<body bgcolor="pink" style="text-align:center;">
		<h1> Course registration system </h1>
		<form method = "post">
			{% raw xsrf_form_html() %}
			<p>Account type:
				<select name = "user_type">
					<option value = "s">Student</option>
					<option value = "p"/>Professor</option>
					<option value = "r"/>Registrar</option>
				</select>
			</p>
			<p>Account: <input type = "text" name = "account"/></p>
			<p> Password: <input type="password" name = "password"/></p>
			<p><input type = "submit" value="login" /></p>
		</form>
	</body>
</html>