<html>
	<head>
		<title>
			Maintain course catalog
		</title>
	</head>
	<body bgcolor="pink" style="text-align:center;">
		<h1>Maintain course catalog!</h1>
		<p>
			<a href = "/mtcoursecatalog/addacourse" style = "text-decoration:none">
				<input type="button" value = "Add a course">
			</a>
			<a href = "/mtcoursecatalog/changeacourse" style = "text-decoration:none">
				<input type="button" value = "Change a course">
			</a>
			<a href = "/mtcoursecatalog/deleteacourse" style = "text-decoration:none">
				<input type="button" value = "Delete a course">
			</a>
			<a href = "/registrar" style = "text-decoration:none">
				<input type="button" value = "back">
			</a>
		</p>
	</body>
</html>