<html>
	<head>
		<title>
			Maintain professor infomation
		</title>
	</head>
	<body bgcolor="pink" style="text-align:center;">
		<h1> Maintain professor infomation </h1>
		<p>
			<a href="/mtproinfo/addaprofessor" style = "text-decoration:none">
				<input type="button" value="add a professor"/>
			</a>
			<a href="/mtproinfo/changeaprofessor" style = "text-decoration:none">
				<input type="button" value="change a professor"/>
			</a>
			<a href="/mtproinfo/deleteaprofessor" style = "text-decoration:none">
				<input type="button" value="delete a professor"/>
			</a>
			<a href="/registrar" style = "text-decoration:none">
				<input type="button" value="back"/>
			</a>
		</p>
	</body>
</html>