<html>
	<head>
		<title>
			Maintain student infomation
		</title>
	</head>
	<body bgcolor="pink" style="text-align:center;">
		<h1> Maintain student infomation </h1>
		<p>
			<a href="/mtstuinfo/addastudent" style = "text-decoration:none">
				<input type="button" value="add a student"/>
			</a>
			<a href="/mtstuinfo/changeastudent" style = "text-decoration:none">
				<input type="button" value="change a student"/>
			</a>
			<a href="/mtstuinfo/deleteastudent" style = "text-decoration:none">
				<input type="button" value="delete a student"/>
			</a>
			<a href="/registrar" style = "text-decoration:none">
				<input type="button" value="back"/>
			</a>
		</p>
	</body>
</html>