<html>
	<head>
		<title>
			Maintain student infomation
		</title>
	</head>
	<body bgcolor="pink" style="text-align:center;">
		{% if mt_type == 'addastudent' %}
		<form method = "post">
			{% raw xsrf_form_html() %}
			<h1>Add A Student</h1>
			<p>Name: <input type = "text" name = "name" /></p>
			<p>Birthday: <input type = "text" name = "birthday"/>e.g.1996-03-26</p>
			<p>SSN: <input type = "text" name = "ssn"/></p>
			<p>Position: <input type = "text" name = "position"/></p>
			<p>Graduate Date: <input type = "text" name = "graduate_date"/>e.g.2018-06-10</p>
			<p>
				<input type = "submit" value = "add"/>
				<a href="/msi" style = "text-decoration:none">
					<input type = "button" value="back"/>
				</a>
			</p>
		</form>
		{% end %}
		{% if mt_type == 'changeastudent' %}
		<h1>Change A Student</h1>
			<form method="post">
				{% raw xsrf_form_html() %}
				<p>Student_id: <input type="text" name="stu_id"/></p>
				<p><input type="submit" value="ok"/></p>
			</form>
			<form method="post">
				{% raw xsrf_form_html() %}
				<p>Name: <input type="text" name="name" value="{{name}}"/></p>
				<p>Birthday: <input type="text" name="birthday" value="{{birthday}}"/></p>
				<p>Position: <input type="text" name="position" value="{{position}}"/></p>
				<p>Graduate Date: <input type="text" name="graduate_date" value="{{graduate_date}}"/></p>
				<p>SSN: <input type="text" name="ssn" value="{{ssn}}"/></p>
				<p>
					{% if name != '' %}
						<input type="submit" value="change" name="change"/>
					{% end %}
					<a href="/msi" style = "text-decoration:none">
						<input type = "button" value="back"/>
					</a>
				</p>
			</form>
		{% end %}
		{% if mt_type == 'deleteastudent' %}
			<h1>Delete A Student</h1>
			<form method="post">
				{% raw xsrf_form_html() %}
				<p>Student_id: <input type="text" name="stu_id"/></p>
				<p><input type="submit" value="ok"/></p>
			</form>
			<form method="post">
				{% raw xsrf_form_html() %}
				<p>Name: {{name}}</p>
				<p>Birthday: {{birthday}}</p>
				<p>Position: {{position}}</p>
				<p>Graduate Date: {{graduate_date}}</p>
				<p>SSN: {{ssn}}</p>
				<p>
					{% if name != '' %}
						<input type="submit" value="delete" name="delete"/>
					{% end %}
					<a href="/msi" style = "text-decoration:none">
						<input type = "button" value="back"/>
					</a>
				</p>
			</form>
		{% end %}
	</body>
</html>