<html>
	<head>
		<title>
			{{professor_name}}
		</title>
	</head>
	<body bgcolor="pink" style="text-align:center;">
		<h1>Welcome!</h1>
		<h2>{{professor_name}}</h2>
		<p>
			<a href = "/selectcoursetoteach" style = "text-decoration:none">
				<input type="button" value = "Select Courses To Teach">
			</a>
			<a href = "/submitgrade" style = "text-decoration:none">
				<input type="button" value = "Submit Grades">
			</a>
			<a href="/notice" style="text-decoration:none">
				<input type="button" value = "Notice">
			</a>
			<a href = "/" style = "text-decoration:none">
				<input type = "button" value="logout">
			</a>
			<a href="/changepassword" style = "text-decoration:none"> 
				<input type="button" value = "changepassword">
			</a>
		</p>
	</body>
</html>